<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Diabetes Prediction</title>
    <style>
        body {
            background-color: lightpink;
        }
        
        form {
            width: 1000px;
            border: 1px solid gray;
            padding: 20px;
            margin-bottom: 20px;
            font-size: 22px;
        }
        
        input {
            width: 200px;
        }
    </style>
</head>

<body>
    <div class="login">
        <h1>Know If You Are Affected By Diabetes Or Not</h1>

        <form action="{{ url_for('predict')}}" method="post">
            <div class="mb-3">
                <b>Enter Glucose Rate</b>
                <input type="number" name="glucose" min="0" max="200" placeholder="Enter a number in 0-200" required="required" />
            </div>
            <br>
            <div class="mb-3">
                <b>Enter Insulin Rate</b>
                <input type="number" name="insulin" min="0" max="850" placeholder="Enter a number in 0-850" required="required" />
            </div>
            <br>
            <div class="mb-3">
                <b>Enter Body Mass Index</b>
                <input type="number" name="bmi" min="0" max="70" placeholder="Enter a number in 0-70" required="required" />
            </div>
            <br>
            <div class="mb-3">
                <b>Enter Age</b>
                <input type="number" name="age" min="20" max="80" placeholder="Enter a number in 20-80" required="required" />
            </div>
            <br>

            <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        </form>

        <br>
        <br> {{ prediction_text }}

    </div>


</body>

</html>
