<html>
<head>
	<title>Medical Help</title>
	<link rel="stylesheet" href="styles.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
</head>
<section id="header">
       <nav class="navbar navbar-light">
</nav>
</section>

<section id="welcome">
	<div class="container">
		<div class="welcome text-center">
			<h1>Welcome to the world of Health</h1>
                     <button type="submit" class="btn home-btn">Subscribe</button>
		  </div>
	</div>
</section>

<section class="about" id="about">
    <div class="container">
          <div class="content">
                 <div class="box">
                        <div class="inner">
                               <div class="img">
                                     <img src="diabetes.jpg" alt="about" />
                               </div>
                   <div class="text">
                          <h4>Diabetes</h4>
                          <a href="diabetesindex.html">
                            <button class="check text-center">
                                Check
                            </button>
                        </a>
                   </div>
                        </div>
                 </div>
                     <div class="box">
                        <div class="inner">
                               <div class="img">
                                     <img src="covid.jpg" alt="about" />
                               </div>
                   <div class="text">
                          <h4>Covid-19</h4>
                          <a href='covid19index.html'>
                            <button class="check">
                                Check
                            </button>
                        </a>
                   </div>
                        </div>
                 </div>
                 <div class="box">
                        <div class="inner">
                               <div class="img">
                                     <img src="heart.jpg" alt="about" />
                               </div>
                   <div class="text">
                          <h4>Heart Disease</h4>
                          <a href='heartdiseaseindex.html'>
                            <button class="check">
                                Check
                            </button>
                        </a>
                   </div>
                        </div>
                 </div>
          </div>
    </div>
</section>
<section class="tips">
       <div class="container">
               <div class="content">
                        <div class="box text">
                                <h2>Essential Tips</h2>
                                
                                
                        </div>
                        

               </div>
       </div>
</section>
<section id="tip">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				
				<h4>Diabetes</h4>
				<ul style="list-style: none;">
                                   <li>Do not skip breakfast</li>
                                   <li>Eat plenty of fruits and vegetables</li>
                                   <li>Replace a pack of chips with some nuts</li>
                                   <li>Limit aerated and sweetened drinks</li>
                                   <li>Eat small but frequent meals</li>
                                   <li>No excuses! Be sure to exercise daily</li>
                                   <li>Opt for home cooked food instead of instant meals</li>
                            </ul>
			</div>
			<div class="col-md-4">
				
				<h4>Covid-19</h4>
				<ul style="list-style: none;">
                                   <li>Wash your hands frequently and carefully</li>
                                          <li>Avoid touching your face</li>
                                                 <li>Don’t share personal items</li>
                                                        <li>Stop shaking hands and hugging people </li>
                                                        <li>Take physical (social) distancing seriously</li>
                                                                      <li>Clean and disinfect surfaces</li>
                                                                             <li>Cover your mouth and nose when you cough and sneeze</li>
                            </ul>
			</div>
			<div class="col-md-4">
				
				<h4>Heart Disease</h4>
				<ul style="list-style: none;">
                                   <li>Quit smoking</li>
                                   <li>Ditch unhealthy foods</li>
                                   <li>Commit to a heart-healthy eating style</li>
                                   <li>Exercise regularly</li>
                                   <li>Limit alcohol intake</li>
                                   <li>Control your weight</li>
                                   <li>Reduce chronic stress</li>

                            </ul>
			</div>
		</div>
	</div>

</section>